.container {
  width: 100%;
}

.text {
  white-space: pre-wrap;
}

.tab_container {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.header_content {
  display: flex;
  align-items: center;
}

.eye_image {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.feedback_container {
  display: flex;
  align-items: center;
}

.edit_pencil {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  cursor: pointer;
}
