.container {
  width: 100%;
}

.wrapper {
  width: 100%;
  padding: 16px 0;
  display: flex;
  gap: 48px;
  align-items: center;
}

.loader {
  margin: auto;
  width: fit-content;
}

.stat {
  font-weight: 700;
  margin-right: 6px;
}

.link {
  display: block;
  padding: 16px;
  margin: 8px 0;
  font-size: 24px;
  color: rgb(103, 97, 97);
  border-bottom: 1px solid rgb(103, 97, 97);
  transition: 0.3s;

  &:hover {
    color: rgb(175, 167, 167);
    border-bottom: 1px solid rgb(175, 167, 167);
  }
}

.image {
  width: 300px;
}

.box {
  display: flex;
}

.copy {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-left: 4px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 2px;

  & > img {
    max-width: 100%;
  }
}

.link {
  display: block;
  padding: 16px;
  margin: 8px 0;
  font-size: 24px;
  color: rgb(103, 97, 97);
  border-bottom: 1px solid rgb(103, 97, 97);
  transition: 0.3s;

  &:hover {
    color: rgb(175, 167, 167);
    border-bottom: 1px solid rgb(175, 167, 167);
  }
}
