.title {
  font-weight: 600;
  color: rgb(41, 39, 39);
}

.container {
  margin-bottom: 24px;
}

.textarea {
  width: 350px;
  border: 1px solid #1976d2;
  padding: 10px;
}

.error {
  display: block;
  text-align: center;
  color: red;
}
